.login {
    width:50%;

    button {
        padding: 12px 10px;
        width: 30%;
        border-radius: 4px;
        background-color: grey;
        color: #ffffff;
        cursor: pointer;
        font-size: 18px;
    }
}

